/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Open-sans", sans-serif;
    --secondary-font: "Montserrat", Sans;
    --primary-color: rgb(3, 41, 80);
    /* Blue */

    /* --secondary-color: ;*/
}

/* Global Styles */

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* General Styles */
h1 {
    text-align: center;
    color: var(--primary-color);
    font-family: var(--primary-font);
}

h2,
h3 {
    color: var(--primary-color);
    font-family: var(--primary-font);
}

.tour-button {
    margin: auto;
    max-width: 110px;
    margin-inline: auto;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    }

/* Pushes the footer to the bottom of the page */
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */
#nav {
    background-color: var(--primary-color);
    text-align: center;
}

#nav .navbar-brand {
    padding: 0;
}

#nav .logo {
    width: 40px;
}

/* Hero section */
#hero {
    margin-top: 30px;
}

#hero p {
    font:20px var(--secondary-font);
}

/* Carousel */

.carousel-item img {
    width: 100%;
    height: 100%;
}

.img-carousel {
    object-fit: contain;
}

/* Footer section */
footer {
    background-color: var(--primary-color);
    color: white;
    margin-bottom: 0;
}
#contacts h2 {
    color: white;
}
/* Media Query */
/* Small Screens */
@media screen and (min-width: 300px) {
    #hero-carousel .carousel-item {

        width: 100%;
        max-height: 165px;
    }

    #hero .btn {
        justify-content: center;
    }

    /* Medium Screens */
}

@media screen and (min-width: 500px) {
    #hero-carousel .carousel-item {

        width: 100%;
        max-height: 285px;
    }

    /* Large Screens */
}

@media screen and (min-width: 800px) {
    #hero-carousel .carousel-item {

        width: 100%;
        max-height: 390px;
    }
}

/* Extra Large Screens makes transition to 1200px smoother */
@media screen and (min-width: 1140px) {

    #hero-carousel .carousel-item {

        width: 940px;
        max-height: 530px;
    }
}

/* Extra Large Screens */
@media screen and (min-width: 1200px) {

    #hero-carousel .carousel-item {
        width: 580px;
        max-height: 285px;
    }
}