/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Global Styles */

/* General Styles */
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */
#nav {
    background-color: rgb(10, 88, 148);
}

#nav .logo {
    width: 40px;
}

/* Main */
header {
    margin-top: 30px;
}

header h1 {
    text-align: center;
}
/* Carousel */
#hero-carousel {

    max-width: 100%;
}

#hero-carousel .carousel-item {
    max-height: 356.25px;
}


/* Media Query */
@media screen and (min-width: 1200px){
    header h1 {
        text-align: left;
    }
}